:root{
    --verylight: #cad2c5;
    --light: #84a98c;
    --medium: #52796f;
    --dark: #354f52;
    --verydark: #2f3e46;
    --minwidth: 800px;
 }

.body-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 0;
    width: max(100vw, var(--minwidth));
    height: auto;
}

.top-blogs{
    position: relative;
    display: flex;
    height: max(calc(100vh - 120px), 500px);
    width: max(100vw, var(--minwidth));
}

.all-blogs{
    position: relative;
    display: flex;
    height: 1000px;
    width: max(100vw, var(--minwidth));
}

.top-blogs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: max(40vh, 300px);
    width: max(100vw, var(--minwidth));
}

.blogs-title{
    font-size: x-large;
    font-weight: bold;
}

.blog-card-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blog-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: min(30%, 350px);
    height: min(90%, 300px);
    margin: auto;
}

.line{
    position: relative;
    display: flex;
    width: 90%;
    height: 0px;
    padding: 1px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--medium);
}

.all-blogs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: auto;
    width: max(100vw, var(--minwidth));
}

.allblogs-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: min(30%, 350px);
    min-height: 200px;
    height: min(90%, 300px);
    margin: auto;
    background-color: var(--medium);
}

