:root{
    --verylight: #cad2c5;
    --light: #84a98c;
    --medium: #52796f;
    --dark: #354f52;
    --verydark: #2f3e46;
    --transparent: rgb(0, 0, 0, 0);
    --minwidth: 800px;
}


.dropdown-container{
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100vh - 120px);
    width: 300px;
    background-color: var(--verydark);
}

.login-form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: var(--light);
}

.logsign-input{
    width: 90%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--verydark);
    border: none;
    height: 20px;
    color: var(--verylight);
}

.logsign-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
    color: var(--verydark);
    user-select: none;
}

.signup-info{
    margin-left: 10px;
    font-weight: bold;
    color: var(--dark);
    user-select: none;
}

.signup-button{
    color: blue;
}

.signup-button:active{
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
}

.logsign-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-button{
    margin: auto;
    margin-left: 10%;
    background-color: var(--verylight);
    border: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: var(--verydark);
    user-select: none;
}

.form-button:active{
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
}