:root{
    --verylight: #cad2c5;
    --light: #84a98c;
    --medium: #52796f;
    --dark: #354f52;
    --verydark: #2f3e46;

    background-color: var(--verylight);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { 
    text-decoration: none;
    color: blue;
}


a:active { text-decoration: none; }

.center{
    position: relative;
    display: flex;
    margin: auto;
}

.rounded{
    border-radius: 5px;
}

.button{
    margin: auto;
    background-color: var(--verylight);
    border: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexrow{
    display: flex;
    flex-direction: row;
}