:root{
    --verylight: #cad2c5;
    --light: #84a98c;
    --medium: #52796f;
    --dark: #354f52;
    --verydark: #2f3e46;

    background-color: var(--verylight);
}

.center{
    position: relative;
    display: flex;
    margin: auto;
}

.rounded{
    border-radius: 5px;
}

.button{
    width: 100px;
    height: 100px;
    margin: auto;
}